:root {
  --color1: url(./src/images/color1.jpg);
  --color2: url(./src/images/color2.jpg);
  --color3: url(./src/images/color3.jpg);
  --color4: url(./src/images/color4.jpg);
  --color5: url(./src/images/color5.jpg);
  --color6: url(./src/images/color6.jpg);
  --color7: url(./src/images/color7.jpg);
  --color8: url(./src/images/color8.jpg);
  --color9: url(./src/images/color9.jpg);
  --background: #3c3c3c;
  --border-color: #909090;
  --no-color: #1c1c1c;
  --dialog-header-color: #054688;
  --selection-color: #00babd;
}

.controls {
  padding: 10px;
  display: flex;
  column-gap: 10px;
}

.layout-container {
  width: 100%;
  height: 600px;
  overflow-x: scroll;
  background-color: var(--background);
}

.layout {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  background-color: var(--background);
  padding: 10px;
  width: fit-content;
}

.colors {
  display: flex;
  padding: 10px;
  column-gap: 10px;
}

.colors-btns {
  display: flex;
  column-gap: 5px;
}

.colors-samples {
  display: flex;
  column-gap: 20px;
}

.color-sample {
  width: 75px;
  height: 21px;
  display: flex;
  justify-content: center;
  border: 1px solid #c0c0c0;
  box-shadow: 1px 1px 1px #090909;
  position: relative;
}

.color-sample span {
  user-select: none;
}

.color-sample .sample-del-btn {
  position: absolute;
  left: 100%;
  width: 15px;
  height: 15px;
  top: 3px;
  font-size: 8px;
  display: none;
  background-color: var(--dialog-header-color);
  border-radius: 3px;
  border: 2px solid var(--dialog-header-color);
  color: #ffffff;
}

.color-sample .sample-replace-btn {
  position: absolute;
  left: calc(100% + 18px);
  width: 15px;
  height: 15px;
  top: 3px;
  display: none;
  background-image: var(--dialog-header-color);
  border-radius: 3px;
  border: 2px solid var(--dialog-header-color);
  color: #ffffff;
}

.color-sample:hover .sample-del-btn,
.color-sample:hover .sample-replace-btn {
  display: block;
}

.reports {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.reports-list {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 10px;
  padding: 20px 0;
}

.reports-panel {
  display: flex;
  column-gap: 5px;
}

.dialog-button {
  padding: 10px;
  color: #ffffff;
  background-color: var(--dialog-header-color);
  border-radius: 5px;
  border: 2px solid var(--background);
}

.dialog-button:hover {
  border: 2px solid var(--selection-color);
}

.dialog-button:active {
  transform: translateY(2px);
}

.dialog-button:disabled {
  background-color: var(--border-color);
}

.image-button {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.image-button:hover {
  color: var(--selection-color);
}

.image-button svg {
  width: 32px;
  height: 32px;
}

.image-button path {
  fill: #ffffff;
}

.image-button:hover .active-el {
  fill: var(--selection-color);
}

.brick {
  width: 50px;
  height: 14px;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
}

.brick.show span {
  display: block;
}

.brick span {
  display: none;
}

.brick:hover {
  border: 1px solid #ff0000;
}

.color {
  background-size: cover;
  background-repeat: no-repeat;
}

.color1 {
  background-image: var(--color1);
}

.color2 {
  background-image: var(--color2);
}

.color3 {
  background-image: var(--color3);
}

.color4 {
  background-image: var(--color4);
}

.color5 {
  background-image: var(--color5);
}

.color6 {
  background-image: var(--color6);
}

.color7 {
  background-image: var(--color7);
}

.color8 {
  background-image: var(--color8);
}

.color9 {
  background-image: var(--color9);
}

.stat-sample {
  width: 130px;
  height: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  align-items: start;
  box-shadow: 1px 1px 2px #000000;
  padding: 5px;
}

.stat-sample span {
  display: block;
  user-select: none;
}

.log {
  display: flex;
  column-gap: 10px;
  padding: 10px;
  border: 1px solid #000000;
  width: 430px;
}
.log__item {
  border: 1px solid #000000;
  width: 300px;
  height: 100px;
  font-size: 14px;
}

.door {
  position: absolute;
  width: 170px;
  height: 416px;
  background-color: var(--background);
  top: 120px;
  left: 215px;
  display: none;
}

.door.show {
  display: block;
}

.row {
  display: flex;
  column-gap: 2px;
}

.row:nth-child(odd) {
  margin-left: 25px;
}
