:root {
  --color1: url(./src/images/color1.jpg);
  --color2: url(./src/images/color2.jpg);
  --color3: url(./src/images/color3.jpg);
  --color4: url(./src/images/color4.jpg);
  --color5: url(./src/images/color5.jpg);
  --color6: url(./src/images/color6.jpg);
  --color7: url(./src/images/color7.jpg);
  --color8: url(./src/images/color8.jpg);
  --color9: url(./src/images/color9.jpg);
  --background: #3c3c3c;
  --border-color: #909090;
  --no-color: #1c1c1c;
  --dialog-header-color: #054688;
  --selection-color: #00babd;
}

.controls {
  padding: 10px;
  display: flex;
  column-gap: 10px;
}

.layout-container {
  width: 100%;
  height: 600px;
  overflow-x: scroll;
  background-color: var(--background);
}

.layout {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  background-color: var(--background);
  padding: 10px;
  width: fit-content;
}

.colors {
  display: flex;
  padding: 10px;
  column-gap: 10px;
}

.colors-btns {
  display: flex;
  column-gap: 5px;
}

.colors-samples {
  display: flex;
  column-gap: 20px;
}

.reports {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.reports-list {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 10px;
  padding: 20px 0;
}

.reports-panel {
  display: flex;
  column-gap: 5px;
}

.dialog-button {
  padding: 10px;
  color: #ffffff;
  background-color: var(--dialog-header-color);
  border-radius: 5px;
  border: 2px solid var(--background);
}

.dialog-button:hover {
  border: 2px solid var(--selection-color);
}

.dialog-button:active {
  transform: translateY(2px);
}

.dialog-button:disabled {
  background-color: var(--border-color);
}

.image-button {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.image-button:hover {
  color: var(--selection-color);
}

.image-button svg {
  width: 32px;
  height: 32px;
}

.image-button path {
  fill: #ffffff;
}

.image-button:hover .active-el {
  fill: var(--selection-color);
}

.brick {
  width: 50px;
  height: 14px;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
}

.brick.show span {
  display: block;
}

.brick span {
  display: none;
}

.brick:hover {
  border: 1px solid #ff0000;
}

.color {
  background-size: cover;
  background-repeat: no-repeat;
}

.color1 {
  background-image: var(--color1);
}

.color2 {
  background-image: var(--color2);
}

.color3 {
  background-image: var(--color3);
}

.color4 {
  background-image: var(--color4);
}

.color5 {
  background-image: var(--color5);
}

.color6 {
  background-image: var(--color6);
}

.color7 {
  background-image: var(--color7);
}

.color8 {
  background-image: var(--color8);
}

.color9 {
  background-image: var(--color9);
}
